<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

@{
    ViewBag.Title = "Best Thoughts";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<body>
  <div id="main">   
	<div id="site_content">	
      <div id="content">
        <div class="content_item">
          <h2>Best Thoughts</h2>
            <div class="content_container">       
			  <h3>Peace</h3>
			  <p>Happiness, true happiness, is an inner quality. It is a state of mind. If your mind is at peace, you are happy. If your mind is at peace, but you have nothing else, you can be happy. If you have everything the world can give 
                - pleasure, possessions, power - but lack peace of mind, you can never be happy.</p>
            </div><!--close content_container-->
            <div class="content_container">			  
			  <h3>Love</h3>
			  <p>Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.</p>
			</div><!--close content_container-->   
            <div class="content_container">
                <h3>Hope</h3>
                <p> You may not always have a comfortable life and you will not always be able to solve all of the world's
                    problems at once but don't ever underestimate the importance you can have because history
                    has shown us that courage can be contagious and Hope can take on a life of its own.</p>
            </div><!--close content_container--> 
         </div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content--> 
</div><!--close main-->
  
   
  
</body>
</html>
