<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">


@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/User.cshtml";
}

<body>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="content_item">
                    <h2>About</h2>
                    <p>My name is Jahanzaib Alam. I am doing BS Computer Science from Punjab University and Its the final year of my degree. 
                       This is Enterprise Application Development term project. </p>
                </div><!--close content_item-->
            </div><!--close content-->
        </div><!--close site_content-->
    </div><!--close main-->

   

</body>
</html>
