<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/User.cshtml";
}

<body>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="content_item">
                   <p>You have successfully logged out.</p><br /><br />
                    <a href="~/Home/Index">Return Home</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
