<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

@{
    ViewBag.Title = "SearchNote";
    Layout = "~/Views/Shared/User.cshtml";
}

@model Term_Project.Models.User

<body>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="content_item">
                    <form method="post" action="/User/UpdateFinal">
                        Password : <input type="password" name="Password" placeholder="Password" />
                        <br /><br />
                        Age : <input type="text" name="Age" placeholder="Age" />
                        <br /><br />
                        Hobby : <input type="text" name="Hobby" placeholder="Hobby" />
                        <br /><br />
                        <input type="submit" value="Update" />
                        <br /><br />
                    </form>
                </div><!--close content_item-->
            </div><!--close content-->
        </div><!--close site_content-->
    </div><!--close main-->



</body>
</html>

