<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

@{
    ViewBag.Title = "YourDiary";
    Layout = "~/Views/Shared/User.cshtml";
}
@model List<Term_Project.Models.Diaryy>
            
<body>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="content_item">
                    
                    <br /><br />
                    @foreach (var x in Model)
                    {
                        <ul>
                            <li><b>Title</b>:-    @x.Title</li>
                            <li><b>Your Words</b>:- @x.Text</li>                           
                        </ul>
                        <br /><br />
                    }
                    <br /><br />
                    <b><a href="/User/SearchNote">Search the written page using title here.</a></b>
                    
                    Or
                    @*<b>Title: <p></p></b>
                    <br /><br /><b>You wrote: </b> <p></p>*@
                    <br /><br /><b><a href="/User/NewNote">Want to write a new one?click here...</a></b>
                    
                </div><!--close content_item-->
            </div><!--close content-->
        </div><!--close site_content-->
    </div><!--close main-->
</body>
</html>
