<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

@{
    ViewBag.Title = "YourDiary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="main">
        <div id="site_content">
            <div id="content">
                <div class="content_item">
                    <h2>Empty or Not Exist</h2>
                    <p>
                        Your Diary is empty OR You are not logged in, if so then firstly Login or Register to make your Diary.
                    </p>
                </div><!--close content_item-->
            </div><!--close content-->
        </div><!--close site_content-->
    </div><!--close main-->

    

</body>
</html>
